* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  height: 100vh;
}

.top {
  height: 60px;
  background: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.search {
  flex: 1;
}

.search input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  
}

.admin {
  margin-left: 20px;
}

.main {
  display: flex;
  height: calc(100vh - 60px);
}

.sidebar {
  width: 220px;
  background: linear-gradient(180deg, #0f172a, #020617);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}